source https://www.nuget.org/api/v2
nuget Chiron
nuget FAKE
nuget FSharp.Configuration
nuget FSharp.Core
nuget FSharp.Data
nuget FsUnit
nuget SQLProvider
nuget System.Data.SQLite
nuget System.Data.SQLite.Core
nuget Suave
nuget NUnit.Runners

nuget Node.js
nuget Yarn.js

github fsprojects/Chessie src/Chessie/ErrorHandling.fs