source https://www.nuget.org/api/v2

nuget Chessie
nuget Expecto
nuget FAKE
nuget FSharp.Configuration
nuget FSharp.Core
nuget FSharp.Data
nuget Microsoft.FSharpLu.Json
nuget SQLProvider
nuget Suave
nuget System.Data.SQLite
nuget System.Data.SQLite.Core