source https://www.nuget.org/api/v2
nuget FAKE
nuget FSharp.Configuration
nuget FSharp.Core
nuget FSharp.Data
nuget FsUnit
nuget SQLProvider
nuget System.Data.SQLite
nuget System.Data.SQLite.Core
nuget Suave
nuget NUnit.Runners
nuget Newtonsoft.Json
nuget Fable.JsonConverter prerelease

github fsprojects/Chessie src/Chessie/ErrorHandling.fs